**/*.log
**/*.md
**/*.php~
**/._*
**/Thumbs.db
**/.DS_Store

**/.git/
**/.gitattributes
**/.gitignore
**/.gitkeep
**/.gitmodules

/.fleet
/.idea
/.vscode

**/Dockerfile
**/.dockerignore
docker-compose*.yaml
docker-compose*.yml
.docker/.mongodb-data/
