###> cache, IDEs directories ###
*Thumbs.db
*.DS_Store
*.empty
/.fleet
/.idea
/.vscode
###< cache, IDEs directories ###

###> docker ###
/docker-compose.override.yaml
/docker-compose.override.yml
/.docker/.mongodb-data/
###< docker ###

###> project directories and files ###
*~
node_modules
dist
docs/_build
ext
!ext/.gitkeep
genieacs.env
###< project directories and files ###
