NODE_OPTIONS=--enable-source-maps

GENIEACS_CWMP_ACCESS_LOG_FILE=/var/log/acs/cwmp-access.log
GENIEACS_NBI_ACCESS_LOG_FILE=/var/log/acs/nbi-access.log
GENIEACS_FS_ACCESS_LOG_FILE=/var/log/acs/fs-access.log
GENIEACS_UI_ACCESS_LOG_FILE=/var/log/acs/ui-access.log
GENIEACS_EXT_DIR=/opt/acs/ext
GENIEACS_UI_PORT=80
